.container-profile {

   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color: rgba(157, 66, 243, 0.04);
   border-radius: 50px;
}

picture img {
   transform: scale(0.7);
   min-width: 500px;
   max-width: 500px;
   border-radius: 100px;


}